

@{
    ViewBag.Title = "QueryXmlResult";
    Layout = "~/Views/Shared/_M11Layout.cshtml";
}

@section scripts {
    <script type="text/javascript" src="~/scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker/bootstrap-datetimepicker.zh-tw.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
}

<div class="row">
    <div class="col-md-9">
        <h1 class="page-header">
            測站XML結果資料查詢
        </h1>
    </div>
    <div class="col-md-3">
        <h1 class="page-header">
            @*<Button ID="btnSave" onclick="btnSave();" class="btn btn-success">儲存</Button>*@
        </h1>
    </div>
</div>


<div class="panel panel-info">
    <div class="panel-heading">查詢</div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="form-inline">
                <label for="keyWord">測站：</label>
                <select id="station" name="station" class="form-control"></select>
                <label for="keyWord">儀器：</label>
                <div class="form-control" style="height:60px;" >
                    <input id="RG" type="checkbox" /><span class="text">RG(雨量計) &nbsp; &nbsp; &nbsp;  </span>
                    <input id="TM" type="checkbox" /><span class="text">TM(雙軸傾斜儀)</span><br />
                    <input id="PM" type="checkbox" /><span class="text">PM(孔隙水壓計)</span>
                    <input id="GW" type="checkbox" /><span class="text">GW(地下水位計)</span>
                </div>
                    <label for="keyWord">起始時間：</label>
                    <input type="text" id="StartDate" name="StartDate" value="" style="width: 80px;" />
                    <label for="keyWord">結束時間：</label>
                    <input type="text" id="EndDate" name="EndDate" value="" style="width: 80px;" />
                    <label for="keyWord">間隔：</label>
                    <select id="timerange" name="timerange" class="form-control">
                        <option value="hr">小時</option>
                        <option value="min">分鐘</option>
                    </select>
                    @*<label for="keyWord">密碼：</label>
            <input type="text" id="txtpass" name="txtpass" value="" />*@
                    <button class="btn btn-success" id="btnQuery" onclick="Query();">查詢</button>
                    <button class="btn btn-success" id="btnExport" onclick="Export();">匯出</button>
                </div>
            </div>
    </div>
</div>

@**@
<div class="panel panel-success">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">
                <table id="tblDefault" class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="min-width: 80px;">測站</th>
                            <th style="min-width: 80px;">儀器</th>
                            <th style="min-width: 80px;">時間</th>
                            <th style="min-width: 80px;">數據</th>
                            @*<th style="min-width: 40px;">是否啟用</th>*@
                        </tr>
                    </thead>
                    <tbody id="tbyDefault">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        //下拉選單
        $.getJSON('@Url.Action("QueryXmlResultGetStationDDL")', { cityId: "test" }, function (data) {
            $('#station').empty();
            $.each(data, function (i, item) {
                $('#station').append($('<option></option>').val(item.Value).text(item.Text));
            });
        });

        //開始時間
        $("#StartDate").datetimepicker({
          format: 'YYYY-MM-DD',
          sideBySide: true,
          //預設今天
          defaultDate: new Date(),
        });

        //結束時間
        $("#EndDate").datetimepicker({
          format: 'YYYY-MM-DD',
          sideBySide: true,
          //預設今天
          defaultDate: new Date(),
        });

    });

    function Query() {

        var Params = {};
        Params.station = $("#station").val();
        Params.dtstart = $("#StartDate").val();
        Params.dtend = $("#EndDate").val();
        Params.RG = $("#RG").prop('checked') == true ? "Y" : "N";
        Params.TM = $("#TM").prop('checked') == true ? "Y" : "N";
        Params.PM = $("#PM").prop('checked') == true ? "Y" : "N";
        Params.GW = $("#GW").prop('checked') == true ? "Y" : "N";
        Params.timerange = $("#timerange").val();
        

        $.ajax({
            type: 'GET',
            url: '@Url.Action("getQueryXmlResult", "Query")',
            data: { Params: JSON.stringify(Params)} ,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (response) {

                if (response.ApiResultStauts == "Y") {
                    $('#tbyDefault').empty();
                    var trHTML = '';
                    $.each(response.Data, function (i, item) {
                        var tr = $('<tr>').append(
                            $('<td>').text(item.StationID),
                            $('<td>').text(item.SensorID),
                            $('<td>').text(item.DatetimeString),
                            $('<td>').text(item.value)
                        );
                        $('#tbyDefault').append(tr);
                    });
                }
                

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            },
        });
     }

    function Export() {
        var Params = {};
        Params.station = $("#station").val();
        Params.dtstart = $("#StartDate").val();
        Params.dtend = $("#EndDate").val();
        Params.RG = $("#RG").prop('checked') == true ? "Y" : "N";
        Params.TM = $("#TM").prop('checked') == true ? "Y" : "N";
        Params.PM = $("#PM").prop('checked') == true ? "Y" : "N";
        Params.GW = $("#GW").prop('checked') == true ? "Y" : "N";
        Params.timerange = $("#timerange").val();

        $.getJSON('@Url.Action("DownRainStatistics", "Query")', { Params: JSON.stringify(Params) }, function (response) {
            if (response.ApiResultStauts == "Y") {
                location.href = response.Data;
            } else {
                //錯誤操作
            }
        });

        @*$.ajax({
            type: 'GET',
            url: '@Url.Action("DownRainStatistics", "Query")',
            data: { Params: JSON.stringify(Params)} ,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (response) {

                if (response.ApiResultStauts == "Y") {
                    location.href = response.Data;
                } else {
                    //錯誤操作
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            },
        });*@
    }
</script>

